SERVER_IP=103.245.236.241
SITE_DOMAIN=dieukhacxuantruong.com
DEPLOY_BRANCH=main

JWT_SECRET=change_me_to_a_long_random_secret
JWT_EXPIRES_IN=7d

MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority&appName=YourApp
MONGODB_DB_NAME=dieu_khac

CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
