SERVER_IP=160.187.146.119
DEPLOY_BRANCH=main

JWT_SECRET=change_me_to_a_long_random_secret
JWT_EXPIRES_IN=7d

MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority&appName=YourApp
MONGODB_DB_NAME=dieu_khac

AWS_REGION=ap-southeast-1
AWS_S3_BUCKET=your-bucket-name
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_S3_PUBLIC_BASE_URL=
